<h3>
	Welcome to the Home Page
</h3>

<%= link_to_if current_user.nil?, 'Sign-in', new_user_session_path, method: :get do
	link_to 'Sign-out', destroy_user_session_path, method: :delete
	end %> or <%= link_to "Register", new_user_registration_path, method: :get %><br>